Package: [[name]]
Version: [[version]]
Architecture: all
Maintainer: Viesturs Eihentāls <viesturs.eihentals@uniweb.eu>
Section: web
Priority: optional
Depends: graylog-server | graylog-radio
Description: [[description]]
